body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.chat-icon {
  position: fixed;
  right: 20px;
  bottom: 20px;
  z-index: 100;
  color: #d1512d;
}

.chat-notification {
  position: absolute;
  bottom: 100%;
  right: 0;
  background: white;
  color: black;
  padding: 10px;
  border-radius: 8px;
  margin-bottom: 20px;
  text-align: center;
  width: 120px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  font-size: 13px;
}

.chat-notification:after {
  content: '';
  position: absolute;
  top: 100%;
  right: 20px;
  border-width: 10px;
  border-style: solid;
  border-color: #282c34 transparent transparent transparent;
}